<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="/public/img/logo.svg">
        </div>
        <div class="login_container">
            <form class="login">
                <input class="login_inputs" name="email" type="text" placeholder="LOGIN">
                <input class="login_inputs" name="password" type="password" placeholder="HASLO">
                <button>ZALOGUJ</button>
            </form>
        </div>
    </div>
</body>